@media (min-width: 425px) {
  main {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

/* grid photos du bien */
#gallerie-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  width: 10vw;
}

/* photos du bien */
.photo img {
  width: 22vw;
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}

/* icons caractéristiques */
.fas {
  color: var(--primary-color);
}

#caracteristiques {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  grid-row-gap: 1vh;
}

#caracteristiques div {
  font-size: 1.1em;
}

#infos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1500px) {
  #landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #achat {
    min-width: 150px;
    width: 10vw;
  }

  #achat form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 1500px) {
  #achat {
    margin-top: 30px;
  }

  #achat form {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .photo img {
    width: 29vw;
  }
}

@media (max-width: 780px) {
  #gallerie-photos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .photo img {
    width: 60vw;
  }
  #achat form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  #achat {
    min-width: 50vw;
  }
  .photo img {
    width: 85vw;
  }
}

@media (max-width: 370px) {
  #caracteristiques {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
