h1 {
  color: var(--primary-color);
}

#gallerie-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 1vh;
}

.photo img {
  width: 30vw;
  border-radius: 10px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}

.fas {
  color: var(--second-color);
}

#caracteristiques {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
  grid-row-gap: 1vh;
}

#caracteristiques div {
  width: 30vw;
  font-size: 1.1em;
}

#découvrir {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


@media (max-width: 700px) {
  #gallerie-photos {
    grid-template-columns: 1fr 1fr;
  }
  .photo img {
    width: 45vw;
  }
}

@media (max-width: 550px) {
  #gallerie-photos {
    grid-template-columns: 1fr;
  }
  .photo img {
    width: 90vw;
  }
}
