main {
  margin-top: 50px;
}

#landing {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
  grid-gap: 20px;
}

#landing img {
  width: 200px;
}

span.highlight {
  color: var(--primary-color);
}

#landing button {
  border: none;
  color: white;
  background-color: var(--second-color);
  border-radius: 15px;
  text-align: center;
  height: 40px;
  width: 120px;
  font-size: 800;
}

#landing button:hover {
  background-color: var(--third-color);
}

@media (max-width: 470px) {
  #landing {
    grid-template-columns: 1fr;
  }
  #landing div:last-child {
    grid-row: 1;
  }
}

@media (min-width: 850px) {
  #landing div:first-child {
    margin-top: 30px;
  }
  #landing img {
    width: 30vw;
    max-width: 300px;
  }
  #landing h1 {
    background-color: red;
    max-width: 40px;
    max-height: 40px;
  }
}

@media (min-width: 850px) {
  #landing img {
    margin-right: 15vw;
  }
}
