/* disposition des titres  */
div > h1,
h3 {
  display: flex;
  justify-content: center;
}

/* centrer les inputs au centre du form */
#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* tailles des inputs */
#nom,
#prenom,
#email,
#telephone {
  width: 250px;
  margin-bottom: 5px;
}

#message {
  width: 350px;
  height: 150px;
}

form .form-label {
  color: var(--second-color);
}

#choix-contact {
  display: flex;
  justify-content: space-evenly;
}

.contact-inputs:hover {
  color: var(--borders-color);
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 450px) {
  #message {
    width: 72vw;
  }
  #nom,
  #prenom,
  #email,
  #telephone {
    width: 55vw;
  }
}

@media (max-width: 495px) {
  /* solution temporaire car le responsive du h3 ne fonctionne pas bien */
  div > h3 {
    display: none;
  }
}
