div > h1,
h2 {
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--second-color);
}

.contact-inputs {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#inputs :first-child :first-child {
  margin-right: 50px;
}

#nom,
#prenom,
#email,
#telephone {
  width: 250px;
  margin-bottom: 5px;
}

#checkbox-recontact {
  display: flex;
  flex-direction: row;
}

form .form-label {
  color: var(--second-color);
}

#message {
  width: 350px;
  height: 150px;
}

.contact-inputs:hover {
  color: var(--borders-color);
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 450px) {
  #message {
    width: 70vw;
  }
  #nom,
  #prenom,
  #email,
  #telephone {
    width: 55vw;
  }
}
