<div id="header-left" aria-label="Logo de locafy, amène à la page d'accueil">
  <a href="/index.html" class="aligner">
    <img
      src="/assets/logo-locafy.svg"
      alt="Logo de Locafy: représente 3 palmiers"
    />
  </a>
</div>
<div
  id="header-center"
  aria-label="Navigation entre les pages biens et support"
>
  <div
    class="dropdown"
    aria-label="Navigation parmis les 4 catégories de pages"
  >
    <button class="dropbtn">Biens</button>
    <div class="dropdown-contenu">
      <a aria-label="Tendances" href="/pages/categories/tendances.html"
        ><i class="fas fa-chart-line"></i>Tendances</a
      >
      <a aria-label="Villes" href="/pages/categories/villes.html"
        ><i class="fas fa-city"></i>Villes</a
      >
      <a aria-label="Evenements" href="/pages/categories/evenements.html"
        ><i class="fas fa-calendar-alt"></i>Événements</a
      >
      <a aria-label="Types" href="/pages/categories/types.html"
        ><i class="fas fa-home"></i>Types</a
      >
    </div>
  </div>
  <i class="fa-solid fa-chevron-down"></i>
  <a aria-label="Support" href="/pages/support.html" class="aligner">Support</a>
</div>
