<div id="header-left">
  <a href="/index.html">
    <img
      src="/assets/locafy-logo.svg"
      alt="Logo de Locafy: représente un palmier"
    />
  </a>
  <a href="/index.html">locafy</a>
</div>
<div id="header-center">
  <i class="fa-solid fa-chevron-down"></i>
  <div class="dropdown">
    <button class="dropbtn">Biens</button>
    <div class="dropdown-content">
      <a href="#">Tendances</a>
      <a href="#">Villes</a>
      <a href="#">Événements</a>
      <a href="#">Types</a>
    </div>
  </div>
  <a href="/src/pages/support.html">Support</a>
</div>
