:root {
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica Neue, sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2vh;
  --primary-color: #2c6951;
  --second-color: #246ed6;
  --third-color: #1f58a7;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 40px;
  margin-top: -15px;
}

header button {
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.5rem;
}

header a {
  text-decoration: none;
  color: rgb(149, 149, 149);
  margin-top: 10px;
}

#header-left {
  display: flex;
}

#header-left a {
  color: var(--primary-color);
}

#header-center {
  display: flex;
  justify-content: center;
  margin-right: 1vw;
}

#header-center a {
  margin-left: 2vw;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.fa-chevron-down {
  color: var(--second-color);
  margin-top: 10px;
  margin-right: -5px;
}

.dropbtn {
  color: var(--second-color);
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
